body,html{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden;
    position: relative;
}

a{
  color: black;
}

.btn{
  border: none;
}

.jumbotron{
  background-color: #343A40;
  border-radius: 0;
  color: #FFFFFF;
  text-align: left;
  height: 40%;
  margin: 0;
}

#finalHTML h2{
  font-weight: normal;
  letter-spacing: .1em
}

#buttons{
  padding-top: 20px;
  padding-bottom: 20px;
}

#buttons i{
  font-size:100px;
}

#buttons a:hover{
  color: #ce5814;
  border: transparent;
}

#buttons a:focus{
  color: black;
  border: transparent;
}

#proDisImg{
  height: 60px;
  width: 60px;
}

#bottomInfo{
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  flex-grow:
}

#projectsInfo{
  margin-bottom: 65px;
}

#projectsInfo p{
  text-align: justify;
  margin: auto;
}

#projectsInfo a{
  max-width: 100%;
}

#projectsInfo h2{
  word-wrap: break-word;
  font-size: 2rem;
  max-width: 100%;
}

#projectsInfo a:hover{
  color: #ce5814;
}

.project p{
  padding-left: 30px;
  padding-right: 30px;
}

#firstProject{
  border-right:1px #0a69c9 solid;
}

#gameIcon{
  color: black;
}

#treeIcon{
  color: black;
}

#contactForm{
  padding-bottom: 20px;
}

#contactForm button{
  background-color: #ce5814;
  border: none;
  cursor: pointer;
}

#contactForm label{
  font-weight: bold;
  font-size: 1.2rem;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

.modal-content{
  display: block;
}

.modal-header{
  display: block;
  background-color: #343A40;
  color: #FFFFFF;
  padding: 0;
  padding-bottom: 10px;
}

#headerTop h2{

}

#downloadBtn{
  position: relative;
  top: 0px;
  left: 0px;
  color:#FFFFFF;
  font-size: 3rem;
}

#downloadBtn:hover{
  color: #ce5814;
  border: transparent;
}

#downloadBtn:focus{
  color:#ce5814;
  border: transparent;
}

.close{
  position: relative;
  top: 0px;
  right: 10px;
  font-size: 3rem;
  color: #FFFFFF;
  opacity: 1.0;
}

.close:hover{
  color: #ce5814;
}

#pdfBtns{
  display: flex;
  justify-content: space-between;
}

#pdfBtns button{
  cursor: pointer;
}

#pdfBtns button:hover{
  background-color: #0a69c9;
}

footer{
  bottom: 0;
  width: 100%;
  background-color: #343A40;
  padding:0;
}

#socialLinks{
  font-size: 26px !important;
  margin-bottom: 0;

}

#socialLinks li {
  padding: 5px 0 5px 0;
}

.socialLink a {
  text-decoration: none;
    color: grey;
}

.socialLink a:hover {
    color: white;
}

.socialLink i {
  padding-right: 10px;
  color: white;
}

.orange{
  color: #ce5814;
}

.blue{
  color: #0a69c9;
}

#line{
  display: none;
}

@media(max-width: 1200px){
  #projectsInfo h2{
    font-size: 1.5rem;
  }
}

@media(max-width: 1000px){
  #finalHTML h1{
    font-size: 2.8rem;
  }
  #projectsInfo h2{
    font-size: 1rem;
  }
  .jumbotron{
    height: 30%;
  }
}

@media(max-width: 767px){
  .jumbotron{
    height: 180px;
  }

  #finalHTML h1{
    font-size: 34px;
  }

  #finalHTML h2{
    padding-top: 30px;
    font-size: 24px;
  }

  .break{
    display: none;
  }

  #codeText{
    font-size: .8rem;
  }
  #projectsInfo p{
    padding-left: 40px;
    padding-right: 40px;
  }
  #socialLinks {
    text-align: center;
  }

  #buttons h2{
    font-size: 24px;
  }

  #buttons i{
    font-size: 35px;

  }
  #buttons a{
    padding: 0;
  }

  #buttons .row div{
    flex-direction: column !important;
    padding: 0;
  }

  #firstProject{
    border-right: 0;
  }

  #line{
    display:block;
    border-color: #0a69c9;
  }
}

@media(max-width: 575px){
  .jumbotron{
    height: 180px;
  }

  #finalHTML h1{
    font-size: 26px;
  }

  #finalHTML h2{
    padding-top: 30px;
    font-size: 18px;
  }

  .break{
    display: none;
  }

  #codeText{
    font-size: .6rem;
  }

  #buttons .row{
    flex-direction: row;
    flex-wrap: nowrap !important;
  }
  #buttons h2{
    font-size: 22px;
  }

  #buttons i{
  }
  #buttons a{
    padding: 0;
  }

  #buttons .row div{
    padding: 0;
  }

  #downloadBtn{
    font-size: 2rem;
  }

  .close{
    font-size: 2rem;
  }
}

@media(max-width: 385px){
  .jumbotron{
    height: 150px;
  }

  #finalHTML h1{
    font-size: 22px;
  }

  #finalHTML h2{
    padding-top: 30px;
    font-size: 16px;
  }

  .break{
    display: none;
  }

  #buttons h2{
    font-size: 18px;
  }

  #buttons i{
    font-size: 30px;
  }

  #buttons .row div{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@@media (width: 768px, height: 1024px) {

}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}
